# Build artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.cmd
*.symvers
*.order
.tmp_versions/
Module.symvers
modules.order
mkfs.ftrfs
*.ftrfs
# Editor
*~
.#*
*.o.d
block.c
*.cmd
Module.symvers
modules.order
block.c
